.DS_Store
**/.DS_Store
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Environment
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# ruff
.ruff_cache/
